.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  
  .productGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .light {
    background: #f8f8f8;
    color: #222;
  }
  
  .dark {
    background: #111;
    color: #f1f1f1;
  }
  

  .toggleButton {
    background: #c49a6c;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .toggleButton:hover {
    background: #b58657;
  }
  